<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    autoReload="true" throwExceptions="false">

    <!-- Remove Ansi codes -->
    <variable name="replaceAnsi"
        value="${replace:searchFor=\x1B[^m]*m:replaceWith=:regex=true:inner=${message}}" />

    <targets async="true">
        <target name="console-async-json" xsi:type="Console" encoding="utf-8">
            <layout xsi:type="JsonLayout">
                <attribute name="time"
                    layout="${date:format=yyyy\'-\'MM\'-\'dd\'T\'HH\:mm\:ss.ffff}" />
                <attribute name="level" layout="${level:uppercase=true}" />
                <attribute name="logger" layout="${logger}" />
                <attribute name="threadid" layout="${threadid}" />
                <attribute name="message" layout="${replaceAnsi}" />
                <attribute name="exception" layout="${exception:format=toString}" />
            </layout>
        </target>

        <target name="all" xsi:type="SplitGroup">
            <target-ref xsi:name="console-async-json" />
        </target>
    </targets>

    <rules>
        <logger
            name="JsonWebAPI.Microsoft.Extensions.Diagnostics.HealthChecks.DefaultHealthCheckService"
            maxLevel="Error" writeTo="console-async-json" final="true" />
        <!-- JsonWebAPI is an internal Kestrel logger for Json, not related to Ethereum JSON RPC -->
        <logger name="JsonWebAPI*" minlevel="Error" writeTo="console-async-json" final="true" />
        <logger name="JsonWebAPI*" final="true" />


        <logger name="*" minlevel="Info" writeTo="console-async-json" />
    </rules>
</nlog>